
.Homeheading img
{
	width:40px;
	height:40px;
}

.Homeheading 
{
	width: 90%;
    display:flex;
	gap:30px;
	justify-content: center;
	place-items:center;
	font-family: monospace;
}

.Homeheadingdescrp
{      
	font-size: 15px;
    text-align:center;
	color:black;
	background-color: lavender;
}

ul
{
	list-style-type: none;
	gap: 70px;
	background-color: black;
	padding: 0;
}

li
{ 
float: left;
border-right: 3px solid rgb(110, 16, 110);
}

li a{
	display: flex;
	background-color: rgb(195, 195, 228);
	padding: 25px 25px;
	text-decoration: none;
}

.lastmenuchild
{
	float: right;
}
h2
{
	font-size:50px;
	color: black;
}
h3
{
	background-color: rgb(221, 157, 179);
	color: black;
	font-size: 20px;
	font-family: 'Courier New';
}



.swiper {
	width: 1000px;
	height: 300px;
}
.swiper img{
	width: 1000px;
	height: 300px;
}

.swiperclass{
	width: 100%;
	
}

	
	  
	  .search {
		width: 60%;
		position: relative;
		display: flex;
	  }
	  
	  .searchTerm {
		width: 20%;
		border: 3px solid #030303;
		border-right: none;
		padding: 5px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: #9DBFAF;
	  }
	  
	.searchButton {
		width: 40px;
		height: 36px;
	    text-align: center;
		
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	  }
	  
	














aboutus
.aboutushtml{
	float: left;
}
.aboutlogo{
	display: flex;
	text-align: center;
	justify-content: center;
	
}
.aboutlogoimg{
	place-items: center;
}
h1{
	font-size: 20px;
}
.aboutdescp{
	font-size: large;
}
h3{
  background-color: lavenderblush;
  padding: 25px 25px;
  font-size: 17px;
  background-color:rgb(221, 221, 236);
}
.ant img
{
float: right;
width: 100%;
height: 400px;
align-items: center;
}








contactus
.name{
	height: 15%;
}
.contactushtml{
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	background-color: lavenderblush;
	
}
h2{
	background-color: rgb(231, 223, 227);
}
.formhtml{
	background-color:rgb(231, 223, 227);
}
.submit{
	justify-content: center;
}
.btn{
	
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #f5f0f0;
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	padding: 5px 11px;
	border: solid #eff3f7 2px;
	box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
	border-radius: 33px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	}
	
	.btn:hover{
	
	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	color: #424445;
	border: solid 2px #222324;
	}

	.btn{
	
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-size: 14px;
		color: #f5f0f0;
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		padding: 5px 11px;
		border: solid #eff3f7 2px;
		box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
		border-radius: 33px;
		transition : 1000ms;
		transform: translateY(0);
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		text-transform: uppercase;
		}
		
		.btn:hover{
		
		transition : 1000ms;
		padding: 10px 50px;
		transform : translateY(-0px);
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		color: #424445;
		border: solid 2px #222324;
		}






homepage

.homelogo{
	
	font-size: 50px;
	justify-content: center;
}
.formhome{
	justify-content: center;
}

li{	
	
	padding: 25px 25px ;
	background-color: rgb(210, 210, 212);
	font-size: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
h1{
	font-size: 25px;
}

h2{
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
}
.homepicimg{
	width: 100%;
	height: 100px;
}
.homesearch{
	justify-content: center;
	place-items: center;
}





.btn{
	
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #f5f0f0;
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	padding: 5px 11px;
	border: solid #eff3f7 2px;
	box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
	border-radius: 33px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	}
	
	.btn:hover{
	
	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	color: #424445;
	border: solid 2px #222324;
	}
	
	.btn{
	
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-size: 14px;
		color: #f5f0f0;
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		padding: 5px 11px;
		border: solid #eff3f7 2px;
		box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
		border-radius: 33px;
		transition : 1000ms;
		transform: translateY(0);
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		text-transform: uppercase;
		}
		
		.btn:hover{
		
		transition : 1000ms;
		padding: 10px 50px;
		transform : translateY(-0px);
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		color: #424445;
		border: solid 2px #222324;
		}



		



ourservice
h3
{
	font-size: 15px;
}

.servicelogo
{
	font-size: 15px;
}
h2{
	background-color: lavender;
}
li{
	text-decoration: none;
	width: 100%;
	background-color: lavenderblush;
}
.servicebutton
{
width: 50%;
}





.search
{  text-align: center;
	background-color:rgb(230, 217, 217);
	padding: 10px;
}


.firstprofile
{
    width: 5%;
	display: block;
	float: right;
	text-align: right;
}
.firstprofile select{
	width: 40px;
	background-color:lavenderblush;
	
}
.firstprofile img{
	width: 60px;
	height: 60px;
}

.header{
	width: 100%;
	display: flex;
}








body{
	background-color: lavenderblush;
}


