
.Homeheading img
{
	width:40px;
	height:40px;
}
h1
{
	font-size: 50px;
	color: rgb(1, 6, 10);
	background-color: rgb(210, 210, 241);
}
.Homeheading 
{
    display:flex;
	gap:10px;
	justify-content: center;
	place-items:center;
	background-color:rgb(240, 206, 217);
	font-family: 'Courier New';
}
.Homeheadingdescrp
{
	text-align:center;
	color:black;
	background-color:rgb(210, 210, 241); ;
	
}
ul
{
	list-style-type: none;
	gap: 70px;
	background-color: black;
	padding: 0;
	background-color: lavenderblush;
}
li
{ 
float: left;
border-right: 3px solid purple;
}
li a{
	display: block;
	background-color: rgb(240, 206, 217);
	padding:10px 15px;
	color: black;
	text-decoration: none;
}
.lastmenuchild
{
	float: right;
}
h2
{
	font-size:50px;
	color: black;
	
}

h3
{
	background-color: rgb(221, 157, 179);
	color: black;
	font-size: 20px;
	font-family: 'Courier New';
}

.swiper {
	width: 1000px;
	height: 300px;
}
.swiper img{
	width: 1000px;
	height: 300px;
}

.swiperclass{
	width: 100%;
	
}
















aboutus

.aboutushtml{
background-color: rgb(236, 230, 234);
}
h1{
	font-size: 15px;
	background-color: rgb(231, 223, 227);
	font-family: monospace;
}












contactus

.contactushtml{
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	background-color: lavenderblush;
	
}
h2{
	background-color: rgb(231, 223, 227);
}
.formhtml{
	background-color:rgb(231, 223, 227);
}
.submit{
	justify-content: center;
}





homepage

h1{
	font-size: 50px;
}
.formhome{
	justify-content: center;
	background-color: rgb(236, 197, 223);


}
li{
	
	
	background-color: rgb(210, 210, 212);
	font-size: 16px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2{
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
}












ourservice
h1{
	font-style:italic;
}
.servicehtml{
	font-size: 20px;
}
h1{
	font-size: 30px;
}
ul{
	font-size: 30px;
}











.search
{   
	float:right;
	display: block;

}








.droplist{
	float: right;
	display: inline;
}











.firstprofile{
	top: 0%;
	place-items:top corner;
	
}











body{
	background-color: lavenderblush;
}



@media screen and
{
	max-width:500px;
	li a{
		font-size:10px;
	} 
}