
.Homeheading img
{
	width:40px;
	height:40px;
}
h1
{
	font-size: 60px;
	color: rgb(1, 6, 10);
	

}

.Homeheading 
{
	width: 90%;
    display:flex;
	gap:30px;
	justify-content: center;
	place-items:center;
	font-family: monospace;
}

.Homeheadingdescrp
{      
	font-size: 15px;
    text-align:center;
	color:black;
	background-color: rgb(214, 184, 205); 
	
}
ul
{
	list-style-type: none;
	gap: 70px;
	background-color: black;
	padding: 0;
	
}
li
{ 
float: left;
border-right: 3px solid rgb(110, 16, 110);
}
li a{
	display: block;
	background-color: rgb(214, 184, 205); 
	padding:25px 25px;
	color: black;
	text-decoration: none;
}
.lastmenuchild
{
	float: right;
}
h2
{
	font-size:50px;
	color: black;
	
}
h3
{
	background-color: rgb(221, 157, 179);
	color: black;
	font-size: 20px;
	font-family: 'Courier New';
}

.swiper {
	width: 1000px;
	height: 300px;
}
.swiper img{
	width: 1000px;
	height: 300px;
}

.swiperclass{
	width: 100%;
	
}

	
	  
	  .search {
		width: 60%;
		position: relative;
		display: flex;
	  }
	  
	  .searchTerm {
		width: 100%;
		border: 3px solid #030303;
		border-right: none;
		padding: 5px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: #9DBFAF;
	  }
	  
	  .searchTerm:focus{
		color: #b5c9cc;
	  }
	  
	  .searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #a3c1c5;
		background: #bddee2;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	  }
	  
	  /*Resize the wrap to see the search bar change!*/
	  .wrap{
		width: 30%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	  }
















aboutus
.aboutushtml{
	float: left;
}
.aboutushtml img{
	float: left;
	padding: 15px 15px;
	
}
h1{
	float: left;
	font-size: 10px;
	font-family: monospace;
	justify-content: center;
	
}
h3{
  background-color: lavenderblush;
  padding: 25px 25px;
  font-size: 17px;
}
.about img{
	float: right;
	
}











contactus
.name{
	height: 15%;
}
.contactushtml{
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	background-color: lavenderblush;
	
}
h2{
	background-color: rgb(231, 223, 227);
}
.formhtml{
	background-color:rgb(231, 223, 227);
}
.submit{
	justify-content: center;
}
.btn{
	
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #f5f0f0;
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	padding: 5px 11px;
	border: solid #eff3f7 2px;
	box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
	border-radius: 33px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	}
	
	.btn:hover{
	
	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	color: #424445;
	border: solid 2px #222324;
	}

	.btn{
	
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-size: 14px;
		color: #f5f0f0;
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		padding: 5px 11px;
		border: solid #eff3f7 2px;
		box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
		border-radius: 33px;
		transition : 1000ms;
		transform: translateY(0);
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		text-transform: uppercase;
		}
		
		.btn:hover{
		
		transition : 1000ms;
		padding: 10px 50px;
		transform : translateY(-0px);
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		color: #424445;
		border: solid 2px #222324;
		}



homepage

h1{
	font-size: 50px;
}
.formhome{
	justify-content: center;
	
}
li{	
	
	padding: 25px 25px;
	background-color: rgb(210, 210, 212);
	font-size: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
}

.btn{
	
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #f5f0f0;
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	padding: 5px 11px;
	border: solid #eff3f7 2px;
	box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
	border-radius: 33px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	}
	
	.btn:hover{
	
	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #202121 0%, #19151a 100%);
	color: #424445;
	border: solid 2px #222324;
	}
	
	.btn{
	
		font-family: Roboto, sans-serif;
		font-weight: 100;
		font-size: 14px;
		color: #f5f0f0;
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		padding: 5px 11px;
		border: solid #eff3f7 2px;
		box-shadow: rgb(0, 0, 0) -3px 8px 25px 5px;
		border-radius: 33px;
		transition : 1000ms;
		transform: translateY(0);
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		text-transform: uppercase;
		}
		
		.btn:hover{
		
		transition : 1000ms;
		padding: 10px 50px;
		transform : translateY(-0px);
		background: linear-gradient(90deg, #202121 0%, #19151a 100%);
		color: #424445;
		border: solid 2px #222324;
		}



		



ourservice
h1{
font-size: 20px;	
}
.servicehtml
{
font-size: 20px;
}








.search
{  text-align: center;
	background-color:rgb(230, 217, 217);
	padding: 10px;
}


.firstprofile
{
    width: 5%;
	display: block;
	float: right;
	text-align: right;
}
.firstprofile select{
	width: 40px;
	background-color:lavenderblush;
	
}
.firstprofile img{
	width: 60px;
	height: 60px;
}

.header{
	width: 100%;
	display: flex;
}









body{
	background-color: lavenderblush;
}


